<h1>Docs#index</h1>
<table>
    <% @docs.each do |doc| %>
    <tr>
        <td> <%= link_to "#{doc.title}", :controller => :docs, :action => :show, :id => doc.id %> </td>
    </tr>
    <% end %>
</table>
